<div class="container-fluid mb-5" style="background-color: #f1f3ff">
  <!-- Main Header -->
  <div class="container">
    <div class="row py-5 g-5">
      <div class="col-md-6 my-auto ju" style="text-align: justify">
        <h1>Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
        <p>
          elamat datang di Binar Car Rental. Kami menyediakan mobil kualitas
          terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu
          untuk sewa mobil selama 24 jam.
        </p>
        <a href="/rent-cars">
          <button
            type="button"
            class="btn text-white"
            style="font-weight: bold; background-color: #5cb85f"
          >
            Mulai Sewa Mobil
          </button>
        </a>
      </div>
      <div class="col-md-6">
        <img src="assets/img_car.png" alt="Image Car" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<section id="sewa-mobil">
  <div class="container-fluid">
    <div class="container mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 rounded bg-body-secondary">
          <form
            class="p-3"
            action="/rent-cars"
            method="post"
            role="search"
            id="search-car"
          >
            <div class="row align-items-end d-flex justify-content-around g-3">
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-12">
                    <label for="tanggal" class="form-label">Tanggal</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <input
                      id="tanggal"
                      name="tanggal"
                      type="date"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-12">
                    <label for="waktu-jemput" class="form-label"
                      >Waktu Jemput</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <select
                      id="waktu-jemput"
                      name="waktu-jemput"
                      class="form-select"
                    >
                      <option value="08:00">08:00 WIB</option>
                      <option value="09:00">09:00 WIB</option>
                      <option value="10:00">10:00 WIB</option>
                      <option value="11:00">11:00 WIB</option>
                      <option value="12:00">12:00 WIB</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="col-12">
                    <label for="jumlah-penumpang" class="form-label"
                      >Jumlah Penumpang (optional)</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <input
                      type="number"
                      name="jumlah-penumpang"
                      id="jumlah-penumpang"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="col-auto mt-4">
                <button
                  class="btn text-white"
                  type="submit"
                  style="background-color: #5cb85f"
                >
                  Cari Mobil
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid mb-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="row mb-4">
          <div class="col-lg-3" id="tempatFilter">
            <% if (typeof cars !== 'undefined') { %>
            <label class="form-label" for="sortYear">Urutkan Tahun</label>
            <select id="sortYear" name="sortYear" class="form-select">
              <option value="paling-sesuai" selected>Paling sesuai</option>
              <option value="terbaru">Terbaru</option>
              <option value="terlama">Terlama</option>
            </select>
            <% } %>
            <!-- tempat sort tahun -->
          </div>
        </div>

        <div class="row" id="car-rent">
          <% if (typeof cars !== 'undefined') { %> <% cars.forEach(car => { %>
          <div class="col-md-4 d-flex">
            <div class="card mb-4 flex-fill">
              <div class="card-body p-4 d-flex flex-column">
                <img
                  src="<%= car.image %>"
                  class="img-fluid mb-4 rounded"
                  alt="..."
                />
                <p class="card-text"><%= car.model %></p>
                <h5 class="card-title mb-3">
                  Rp <%= car.rentPerDay.toLocaleString().replace(",", ".") %> /
                  hari
                </h5>
                <p class="card-text"><%= car.description %></p>
                <div class="mb-2">
                  <img class="me-2" src="assets/fi_users.png" alt="" /><%=
                  car.capacity %> Orang
                </div>
                <div class="mb-2">
                  <img class="me-2" src="assets/fi_settings.png" alt="" /><%=
                  car.transmission %>
                </div>
                <div class="mb-2">
                  <img class="me-2" src="assets/fi_calendar.png" alt="" />Tahun
                  <%= car.year %>
                </div>
                <div class="mt-auto">
                  <a
                    href="#"
                    class="btn col-12 text-white"
                    style="background-color: #5cb85f"
                    >Pilih Mobil</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="script/sortYear.js"></script>
